<!-- 
===============
Intro section
===============
-->
<section class="grouping">
	<div class="wrapper">
		<div class="intro-content">
			<h1>Old Chompy</h1>
			<h2>
			Dedicated to sharks and other aquatic species</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut recusandae totam iste ad cumque quas, alias explicabo est non placeat facilis vero voluptatibus odio. Quidem deserunt dignissimos, excepturi officiis tempore itaque repellat ipsum voluptatibus suscipit cum, ipsa. At, doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut recusandae totam iste ad cumque quas, alias explicabo est non placeat facilis vero voluptatibus odio. Quidem deserunt dignissimos, excepturi officiis tempore itaque repellat ipsum voluptatibus suscipit cum, ipsa. At, doloribus!</p>
		</div>
		<div class="go-premium">
			<a href="" class="call-to-action">Go Premium!</a>
			<p>So many awesome features when you go premium. <a href="#">Learn more &raquo;</a></p>
		</div>
	</div>
</section><!-- end section -->

<!-- 
===============
Secondary Sections
===============
-->
<section class="secondary-section grouping">
	<div class="wrapper">
		<div class="column">
			<figure>
				<img src="../images/octopus-icon.png" alt="Octopus">
			</figure>
			<h2>The Octopus</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas amet nulla eveniet ratione, facere est assumenda itaque obcaecati adipisci. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas amet nulla eveniet ratione, facere est assumenda itaque obcaecati adipisci. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas amet nulla eveniet ratione, facere est assumenda itaque obcaecati adipisci. </p>
			<a href="#" class="button">Tenticals &raquo; </a>
		</div>
		<div class="column">
			<figure><img src="../images/crab-icon.png" alt="Crab"></figure>
			<h2>The Crab</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quasi aliquam, sapiente quisquam sed, numquam illo autem voluptas ut eos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas amet nulla eveniet ratione, facere est assumenda itaque obcaecati adipisci. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas amet nulla eveniet ratione, facere est assumenda itaque obcaecati adipisci.</p>
			<a href="#" class="button">Crabby &raquo; </a>
		</div>
		<div class="column">
			<figure><img src="../images/whale-icon.png" alt="Whale"></figure>
			<h2>The Whale</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas amet nulla eveniet ratione, facere est assumenda itaque obcaecati adipisci. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas amet nulla eveniet ratione, facere est assumenda itaque obcaecati adipisci. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas amet nulla eveniet ratione, facere est assumenda itaque obcaecati adipisci. </p>
			<a href="#" class="button">Stuart &raquo; </a>
		</div>
	</div>
</section>
